{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<!-- Page Header -->
<header
    class="masthead d-block w-100"
    style="background-image: url('static/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat">
</header>

<main class="mb-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
            <h1>New Task</h1>

        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %}